.cards {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  justify-content: center;
  margin-bottom: 3rem;
  gap: 0.8rem;
  position: relative;
}

.pictures {
  max-width: 17.6rem;
  height: 23.5rem;
  border-radius: 0.9rem;
}

.rating {
  display: flex;
  /* align-items: center; */
}

.icon {
  width: 1.4rem;
  margin-right: 0.2rem;
}

.rating,
.cards > p {
  font-weight: 300;
  font-size: 12px;
  line-height: 1.1;
  color: #222222;
}

.dim {
  color: #918e9b;
  margin-left: 0.3rem;
}

.bold {
  font-weight: 600;
}

.absolute {
  position: absolute;
  font-weight: 400;
  font-size: 1.024rem;
  line-height: 1.1;
  text-align: center;
  color: #222222;
  padding: 0.4rem 0.6rem;
  background-color: #fff;
  top: 0.7rem;
  left: 0.7rem;
}
