.header {
  height: 7rem;
  box-shadow: 0rem 0.298256rem 0.74564rem rgba(0, 0, 0, 0.1);
  margin-bottom: 2.6rem;
}

.header > img {
  padding: 2.2rem 0 2.2rem 3rem;
}

.header > h3 {
  position: absolute;
  top: -1.8rem;
  color: rgb(89, 89, 240);
}
